* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E9E9E9;
}

.container {
    padding: 3rem 5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 2.5rem;
}

table {
    margin: auto;
    margin-top: 1.5rem;
    border-collapse: collapse;
}

table th, table td {
    padding: .5rem 1.2rem;
}

table th {
    font-weight: 600;
    text-align: left;
    border-bottom: solid 3px black;
}

table td {
    border-bottom: solid 1px #A9A9A9;
}

.id_number {
    font-weight: 600;
    color: blue;
}
